*{box-sizing: border-box;}
body{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

/* FOOTER */
.footer{
  color: purple;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  margin-top: 10%;
  margin-bottom: 2%;
}
